@media screen and (min-width: 768px) {
  #topbar {
    justify-content: flex-start;
  }

  main {
    padding: 40px;
  }

  .recipe-origin {
    display: inline;
  }

  .recipe-name {
    font-size: 2rem;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
  }

  .blender,
  .clock,
  .pie {
    flex-basis: 209px;
  }

  .cost {
    flex-basis: 225px;
  }

  .pin {
    flex-basis: 170px;
  }

  .social-networks .btn {
    padding: 10px 50px;
  }

  .ads {
    display: block;
  }

  .presentation img {
    float: left;
    margin-right: 10px;
  }
}

@media screen and (min-width: 992px) {
}
