/* Bonus Large-Mobile */
@media screen and (min-width: 576px) {
  .presentation img {
    float: left;
    margin-right: 10px;
  }

  .social-networks .btn {
    padding: 10px 35px;
  }
}

/* Tablet */
@media screen and (min-width: 768px) {
  #topbar {
    justify-content: flex-start;
  }

  main {
    padding: 40px;
  }

  .recipe-origin {
    display: inline;
  }

  .recipe-name {
    font-size: 2rem;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
  }

  .blender,
  .clock,
  .pie {
    flex-basis: 209px;
  }

  .cost {
    flex-basis: 225px;
  }

  .pin {
    flex-basis: 170px;
  }

  .social-networks .btn {
    padding: 10px 50px;
  }

  .ads {
    display: block;
  }

  .presentation img {
    float: left;
    margin-right: 10px;
  }
}

/* Desktop */
@media screen and (min-width: 992px) {
  .recipe-name {
    font-size: 2.8rem;
  }

  ul {
    display: block;
  }

  .recipe-card {
    display: flex;
    height: 380px;
  }

  .recipe-video {
    flex-basis: 700px;
    height: 100%;
  }

  .recipe-info {
    flex-grow: 1;
    height: 100%;
  }

  .social-networks .label {
    display: inline;
  }

  footer {
    display: flex;
    justify-content: space-between;
  }

  footer address {
    text-align: start;
  }
}
